@using NorthWind.Models

@model Supplier
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Html.ActionLink("Retourner aux fournisseurs", "Index")

@using (Html.BeginForm()) {
    <p>Veuillez confirmer !</p>
    
    <input type="submit" value="Confirmer" />
}