@using NorthWind.Models
@model EditableOrder
@{
    ViewBag.Title = "Edit";
}

<h2>Nouvelle commande</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Veuillez corriger les champs et valider.")

    
    <table>

        <tr>
            <td> <label> Customer </label></td>
            <td> @Html.DropDownListFor(model => model.CustomerID, Model.Customers)</td>
            <td> @Html.ValidationMessageFor(model => model.CustomerID) </td>

        </tr>

    </table>
}