<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Portfolio</display-name>
	
	<welcome-file-list>
		<welcome-file>/WEB-INF/user/LogOn.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>ExchangeServlet</servlet-name>
		<servlet-class>controller.ExchangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExchangeServlet</servlet-name>
		<url-pattern>/exchange.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>controller.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/action.do</url-pattern>
	</servlet-mapping>
</web-app>